.masonry-checkbox{
  height: 150px;
  width: 240px;
}
.masonry-selectbox{
  height: 180px;
  width: 250px;
}

label{
  display: inline;
}

.checked{
  background-color: #d1ff8c;
}

.nbox{
  padding: 4px;
  margin: 3px;
  text-align : center ;
  -webkit-border-radius : 5px;
  -moz-border-radius    : 5px;
  border-radius         : 5px;

}


input[type="checkbox"]{
  display: none;
}
