.masonry-checkbox{
    height: 160px;
    width: 240px;
}
.masonry-selectbox{
    height: 200px;
    width: 250px;
}

label{
    display: inline;
}

.checked{
  background-color: #d1ff8c;
}

.nbox{
    padding: 4px;
    margin: 3px;
}
