.masonry-checkbox{
  height: 150px;
  width: 240px;
}
.masonry-selectbox{
  height: 180px;
  width: 240px;
}

label{
  display: inline;
}

.checked{
  background-color: #d1ff8c;
  color: black;
}

.nbox{
  padding: 4px;
  margin: 3px;
  text-align : center ;
  -webkit-border-radius : 5px;
  -moz-border-radius    : 5px;
  border-radius         : 5px;
}

.alert-info{
    width: 400px;
}

input[type="checkbox"]{
  display: none;
}

.result{
 font-size: larger;
}

.my_clip_button{
    width:70px;
    height:30px;
}

select{
    color: gray;
}
body {
 font-family: mplus-1m-regular;
}
