<p>
<div class="result" id="fe_text">
<% @map_rule_list.each do |rule| %>
<%= rule -%>
    </br>
<% end %>
</div>
</p><button class='my_clip_button btn btn-primary' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
 <b>クリップボードにコピー</b>
</button>

<hr>

<script  type="text/javascript">
    var clip = new ZeroClipboard($("#d_clip_button"));
</script>

<script type="text/javascript"> 
    if(!FlashDetect.installed){
        $("button").remove();
    }
</script>
